<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nanjingsubway.admin.dao.AdminDao">

	<resultMap id="passengerMapper" autoMapping="true" type="com.nanjingsubway.passenger.model.Passenger">
		<id column="passenger_id" property="passengerId"/>
		<result column="id_number" property="idNumber"/>
		<result column="name" property="name"/>
		<result column="password" property="password"/>
		<result column="email" property="email"/>
		<result column="phone_number" property="phoneNumber"/>
		<result column="nick_name" property="nickName"/>
		<result column="head_image" property="headImage"/>
		<result column="register_time" property="registerTime"/>
	</resultMap>

	<resultMap id="newsMapper" autoMapping="true" type="com.nanjingsubway.admin.model.News">
		<id column="news_id" property="newsId"/>
		<result column="news_theme" property="newsTheme"/>
		<result column="news_content" property="newsContent"/>
		<result column="news_release_date" property="newsReleaseDate"/>
		<result column="news_date" property="newsDate"/>
	</resultMap>

	<resultMap id="SubwayLineSiteMapper" autoMapping="true" type="SubwayLineSite">
		<id column="site_id" property="siteId"/>
		<result column="id_number" property="idNumber"/>
		<result column="site_number" property="siteNumber"/>
		<result column="line_number" property="lineNumber"/>
		<result column="site_name" property="siteName"/>
		<result column="site_details" property="siteDetails"/>
		<result column="transfered" property="transfered"/>
		<result column="transfered_lines" property="transferedLines"/>
		<result column="recharged" property="recharged"/>
		<result column="toilet" property="toilet"/>
	</resultMap>



	<select id="showAllPassenger" parameterType="java.util.Map" resultMap="passengerMapper">
		select * from passenger order by passenger_id DESC
			limit #{limit}
			offset #{offset}
	</select>

	<select id="showAllNews" resultMap="newsMapper" parameterType="java.util.Map">
		select * from news ORDER BY news_release_date DESC
			limit #{limit}
			offset #{offset}
	</select>
	<select id="selectNewsCount" resultType="java.lang.Integer">
		select count(*) from news

	</select>

	<insert id="releaseNews" parameterType="java.util.Map">

		INSERT INTO news(news_theme,news_content,news_date,news_release_date)
		VALUES(
			#{newsTheme},
			#{newsContent},
			#{newsDate,jdbcType=DATE},
			#{newsReleaseDate,jdbcType=DATE}
		)
	</insert>

	<select id="selectSitesCount" resultType="java.lang.Integer">
		select count(*) from view_subway_lines
	</select>

	<select id="showAllSites" resultMap="SubwayLineSiteMapper">
		select * from view_subway_lines
			limit #{limit}
			offset #{offset}
	</select>
	
</mapper>